.table tr th{
    padding: 25px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    height: 100px;
    z-index: 9999;
    border-bottom: 1px solid #ccc;
    background-color: #e4e4e4;
}

td > input[type='checkbox']{
    scale: 1.5;
    accent-color: var(--var-secondary);
    cursor: pointer;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}
.table-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}
.table-wrapper > div{
    overflow: auto;
    width: 100%;
    padding: 25px;
}

.table-wrapper > h1{
    color: var(--var-secondary);
    font-size: 1.25rem;
}

td[data-status='Εκκρεμούσα']{
    color: gray;
}
td[data-status='Εγκεκριμένη']{
    color: green;
}
td[data-status='Μη Εγκεκριμένη']{
    color: red;
}

.table td > p{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.table td{
    padding: 24px 16px;
    text-align: center;
}

.table:hover{
    outline: 1px solid #a19f9f;
    cursor: pointer;
}

.table{
    overflow-x: hidden;
    min-width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
    box-shadow: 2px 2px 12px 8px #e6e2e2;
    outline: 1px solid #cacaca;
}

td[data-status='Θεωρία'], td[data-status='Διδασκαλία']{
    color: green;
}

td[data-status='Εργαστήριο']{
    color: yellowgreen;
}

#classroom-row:hover 
td[data-status='Θεωρία'], #classroom-row:hover td[data-status='Διδασκαλία']{
    color: white;
}

#classroom-row:hover 
td[data-status='Εργαστήριο']{
    color: white;
}

#classroom-row:hover{
    background-color: var(--var-secondary);
    color: white;
}